.wrap-login {
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.img-thumbnail {
  object-fit: cover;
  border-radius: 10px;
}

mat-card {
  max-width: 400px;
  margin: auto;
  background-color: #fff;
}
