.wrap-login {
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.login-box {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.modal-content {
  border-radius: 15px;
}
