<div class="row">

  <!-- Member Entry Form -->
  <div class="col-lg-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Subscription Type Entry</h3>
      </div>
      <div class="card-body">
        <form #memberForm="ngForm" (ngSubmit)="subscriptiontypesave()">

          <div class="row mb-3">

            <div class="col-md-6">
              <label class="font-weight-bold text-secondary">Type Name</label>
              <input type="text" class="form-control" name="typeName" [(ngModel)]="savesubscriptiontype.typeName"/>

            </div>





            <div class="col-md-6">
              <label class="font-weight-bold text-secondary">Amount</label>
              <input type="text" class="form-control" name="amount" [(ngModel)]="savesubscriptiontype.amount"/>
            </div>



            <div class="col-md-6">
              <label class="font-weight-bold text-secondary">Cr Type</label>
              <select class="form-control" name="crid" [(ngModel)]="savesubscriptiontype.crid">
                <option *ngFor="let m of cr" [value]="m.id">{{m.crname}}</option>
              </select>
            </div>
               <div class="col-md-6">
              <label class="font-weight-bold text-secondary">Project</label>
              <select class="form-control" name="projectid" [(ngModel)]="savesubscriptiontype.projectid">
                <option *ngFor="let m of pro" [value]="m.projectId">{{m.projectName}}</option>
              </select>
            </div>

          </div>

          <button type="submit" class="btn btn-primary">Save Type</button>
        </form>

      </div>
    </div>
  </div>

  <!-- Current Active Members -->
  <div class="col-lg-8">
   <div class="card">
  <div class="card-header py-3 d-flex justify-content-between align-items-center">
    <h3 class="m-0 font-weight-bold text-primary">Subscription Types</h3>

  </div>

  <div class="card-body text-center overflow">
      <div class="mb-3 text-start">
      <input type="text" class="form-control w-25 d-inline-block" placeholder="Search CR Type" [(ngModel)]="searchMemNo">
    </div>
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>#Sl</th>
          <th>Type</th>
          <th>CR</th>
          <th>Amount</th>
            <th>Project</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let m of filteredMembers | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">

          <td>{{m.id}}</td>
          <td>{{m.typeName}}</td>
          <td>{{m.crname}}</td>
          <td>{{m.amount}}</td>
          <td>{{m.projectName}}</td>


          <td>
    <button type="button" class="btn btn-primary mb-2" (click)="OpenMemberEditModel(m?.id)">Edit</button>

          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Prev"
      nextLabel="Next">
    </pagination-controls>
  </div>
</div>

  </div>

</div>
<div *ngIf="MemberEditModel" class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog custom-width">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Subscription Type Info</h3>
        <button type="button" class="btn-close" (click)="closeeditmodel()" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedUser">
        <div class="row">

          <div class="col-md-12">
            <table class="table table-bordered">
              <thead><tr><th>Sl No</th><th>Type Name</th></tr></thead>
              <tbody>
                <tr>
                  <td><input type="text" class="form-control" [readOnly]="true" [(ngModel)]="selectedUser.id" readonly/></td>
                  <td><input type="text" class="form-control" [(ngModel)]="selectedUser.typeName"/></td>

                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-12">
            <table class="table table-bordered">
              <thead><tr><th>Amount</th><th>Cr</th></thead>
              <tbody>
                <tr>
                  <td><input type="text" class="form-control" [(ngModel)]="selectedUser.amount"/></td>
                  <td>
                    <select class="form-control" [(ngModel)]="selectedUser.crid">
                      <option [value]="selectedUser.crid">{{selectedUser.crname}}</option>
                      <option *ngFor="let g of cr" [value]="g.id">{{g.crname}}</option>
                    </select>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
         <div class="col-md-12">
            <table class="table table-bordered">
              <thead><tr><th>Project</th></thead>
              <tbody>
                <tr>

                  <td>
                    <select class="form-control" [(ngModel)]="selectedUser.projectid">
                       <option *ngFor="let g of pro" [ngValue]="g.projectId">{{g.projectName}}</option>
                    </select>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>





          <div class="col-md-6">
  <button type="button" class="btn btn-success" (click)="subscriptiontypesave()">Save Changes</button>

          </div>

        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" (click)="closeeditmodel()">Close</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="MemberEditModel" class="modal-backdrop fade show"></div>
